nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1280px;
  height:72px;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 24px;
}
.nav_btn{
  background-color: #D01C28;
  outline: none;
  border: none;
  color: #FFFFFF;
  padding: 6px 16px;
  height: 32px;
  font-weight: 500;
}
.container{
  margin: 0 auto;
  max-width: 1280px;
}